
@{
    Int32 tipo = ViewBag.tipo;
}

<div id="experiencia" class="page">

    <h1 class="page-header remove-margin">
        <a class="btn btn-primary pull-right" href="~/Admin/Experiencia/Crud?tipo=@tipo">Agregar</a>
        @ViewBag.Title
    </h1>

    <div id="list"></div>
  
</div>

<script>
    $(document).ready(function () {

    var aGrid =  $("#list").anexGrid({

            columnas: [
                { leyenda: 'Nombre', columna: 'Nombre', ordenable: true },
                { leyenda: 'Titulo', columna: 'Titulo', ordenable: true },
                { leyenda: 'Desde', columna: 'Desde', ordenable: true },
                { leyenda: 'Hasta', columna: 'Hasta', ordenable: true }
            ],
            modelo: [
                {
                    propiedad: 'Nombre', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/Admin/Experiencia/Crud/")' + obj.id,
                            contenido: valor
                        });
                    }
                },
                { propiedad: 'Titulo' },
                { propiedad: 'Desde' },
                { propiedad: 'Hasta' },
                {
                    propiedad: 'Nombre', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/Admin/Experiencia/Eliminar/")' + obj.id,
                            contenido: '<i class="fa fa-trash"></i>',
                                class: 'btn btn-danger btn-xs btn-block btn-eliminar'
                        });
                    }
                }
            ],
            url: '@Url.Content("~/Admin/Experiencia/Listar?tipo="+@tipo)',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'id',
            columna_orden: 'DESC'
        });

        aGrid.tabla().on('click', '.btn-eliminar', function () {

            var r = confirm("Esta Seguro de Eliminar el registro!");

            if (r == true)
            {
                $.post($(this).attr('href'), function (r) {
                    if (r.response)
                        aGrid.refrescar();
                }, 'json')
            }
           
            return false;

        });
    
    });

</script>