
@{
    ViewBag.Title = "Testimonio";
}

<div id="testimonio" class="page">

   <div id="list"></div>

</div>

<script>
    $(document).ready(function () {

        var aGrid =  $("#list").anexGrid({

            columnas: [
                { leyenda: 'Nombre', columna: 'Nombre', ordenable: true },
                { leyenda: 'Estado', columna: 'Estado', ordenable: true },
                { leyenda: 'IP', columna: 'IP', ordenable: true, style: 'width:10px' },
                { leyenda: 'Fecha', columna: 'Fecha', ordenable: true, style: 'width:100px' },
                { leyenda: 'Comentario', style: 'width:350px' }
            ],
            modelo: [
                {
                    propiedad: 'Nombre', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/Admin/Testimonios/Crud/")' + obj.id,
                            contenido: valor
                        });
                    }
                },
                { propiedad: 'Estado' },
                { propiedad: 'IP' },
                { propiedad: 'Fecha' },
                { propiedad: 'Comentario' },
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/Admin/Testimonios/Eliminar/")' + obj.id,
                            contenido: '<i class="fa fa-trash"></i>',
                                class: 'btn btn-danger btn-xs btn-block btn-eliminar'
                        });
                    }
                }
            ],
            url: '@Url.Content("~/Admin/Testimonios/Listar")',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'id',
            columna_orden: 'DESC'
        });

        aGrid.tabla().on('click', '.btn-eliminar', function () {

            var r = confirm("Esta Seguro de Eliminar el registro!");

            if (r == true)
            {
                $.post($(this).attr('href'), function (r) {
                    if (r.response)
                        aGrid.refrescar();
                }, 'json')
            }

            return false;

        });

    });

</script>