USE [master]
GO
/****** Object:  Database [portafolio]    Script Date: 10/12/2017 12:03:41 ******/
CREATE DATABASE [portafolio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'portafolio', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\portafolio.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'portafolio_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\portafolio_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [portafolio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [portafolio]
GO
/****** Object:  Table [dbo].[Experiencia]    Script Date: 10/12/2017 12:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Experiencia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_id] [int] NOT NULL,
	[Tipo] [tinyint] NOT NULL CONSTRAINT [DF_Experiencia_Tipo]  DEFAULT ((1)),
	[Nombre] [varchar](100) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Desde] [varchar](10) NOT NULL,
	[Hasta] [varchar](10) NOT NULL,
	[Descripcion] [text] NULL,
 CONSTRAINT [PK_Experiencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Habilidad]    Script Date: 10/12/2017 12:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Habilidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Dominio] [int] NOT NULL CONSTRAINT [DF_Habilidad_Dominio]  DEFAULT ((0)),
 CONSTRAINT [PK_Habilidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TablaDato]    Script Date: 10/12/2017 12:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TablaDato](
	[Relacion] [varchar](20) NOT NULL,
	[Valor] [varchar](20) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Orden] [int] NOT NULL CONSTRAINT [DF_TablaDato_Orden]  DEFAULT ((1)),
 CONSTRAINT [PK_TablaDato] PRIMARY KEY CLUSTERED 
(
	[Relacion] ASC,
	[Valor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Testimonio]    Script Date: 10/12/2017 12:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Testimonio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_id] [int] NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Comentario] [text] NOT NULL,
	[Fecha] [varchar](10) NOT NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_Testimonio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/12/2017 12:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[Direccion] [text] NULL,
	[Ciudad] [varchar](50) NULL,
	[Pais_id] [int] NULL,
	[Telefono] [varchar](50) NULL,
	[Facebook] [varchar](100) NULL,
	[Twitter] [varchar](100) NULL,
	[YouTube] [varchar](100) NULL,
	[Foto] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Experiencia] ON 

GO
INSERT [dbo].[Experiencia] ([id], [Usuario_id], [Tipo], [Nombre], [Titulo], [Desde], [Hasta], [Descripcion]) VALUES (5, 3, 1, N'Microsoft', N'Analista Programador .NET y PHP', N'2014-02-11', N'2015-08-29', N'Analista programador a medida')
GO
INSERT [dbo].[Experiencia] ([id], [Usuario_id], [Tipo], [Nombre], [Titulo], [Desde], [Hasta], [Descripcion]) VALUES (6, 3, 2, N'Ingles', N'Open English', N'2015-02-11', N'2015-04-11', N'Ingles básico con el pelado.')
GO
INSERT [dbo].[Experiencia] ([id], [Usuario_id], [Tipo], [Nombre], [Titulo], [Desde], [Hasta], [Descripcion]) VALUES (9, 3, 1, N'Anexsoft', N'Analista Programador .NET', N'2015-02-11', N'2015-08-01', N'Desarrollo de sw a medida.')
GO
SET IDENTITY_INSERT [dbo].[Experiencia] OFF
GO
SET IDENTITY_INSERT [dbo].[Habilidad] ON 

GO
INSERT [dbo].[Habilidad] ([id], [Usuario_id], [Nombre], [Dominio]) VALUES (1, 3, N'ASP.NET MVC', 94)
GO
INSERT [dbo].[Habilidad] ([id], [Usuario_id], [Nombre], [Dominio]) VALUES (2, 3, N'jQuery', 100)
GO
INSERT [dbo].[Habilidad] ([id], [Usuario_id], [Nombre], [Dominio]) VALUES (3, 6, N'c#', 50)
GO
SET IDENTITY_INSERT [dbo].[Habilidad] OFF
GO
INSERT [dbo].[TablaDato] ([Relacion], [Valor], [Descripcion], [Orden]) VALUES (N'pais', N'1', N'Afganistán', 1)
GO
INSERT [dbo].[TablaDato] ([Relacion], [Valor], [Descripcion], [Orden]) VALUES (N'pais', N'10', N'Antillas Holandesas', 10)
GO
INSERT [dbo].[TablaDato] ([Relacion], [Valor], [Descripcion], [Orden]) VALUES (N'pais', N'100', N'Haití', 100)
GO
SET IDENTITY_INSERT [dbo].[Testimonio] ON 

GO
INSERT [dbo].[Testimonio] ([id], [Usuario_id], [IP], [Nombre], [Comentario], [Fecha], [estado]) VALUES (1, 3, N'190.192.1.15', N'Pedro', N'Excelente tu curso que estas brindando !!', N'2015-08-14', 2)
GO
INSERT [dbo].[Testimonio] ([id], [Usuario_id], [IP], [Nombre], [Comentario], [Fecha], [estado]) VALUES (2, 3, N'190.157.4.78', N'Miguel', N'Muy bueno el curso que nos brindas !!', N'2015-08-15', 2)
GO
INSERT [dbo].[Testimonio] ([id], [Usuario_id], [IP], [Nombre], [Comentario], [Fecha], [estado]) VALUES (3, 3, N'::1', N'Carlos', N'Excelente profesional, ha demostrado gran desempeño en la empresa COFISOFT.', N'2015-08-18', 2)
GO
SET IDENTITY_INSERT [dbo].[Testimonio] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

GO
INSERT [dbo].[Usuario] ([id], [Nombre], [Apellido], [Email], [Password], [Direccion], [Ciudad], [Pais_id], [Telefono], [Facebook], [Twitter], [YouTube], [Foto]) VALUES (3, N'Eduardo', N'Rodriguez Patiño', N'hitogoroshi@outlook.com', N'e10adc3949ba59abbe56e057f20f883e', N'Av los informáticos 105', N'Lima', 173, N'999999999999', N'https://www.facebook.com/Anexsoft?ref=ts&fref=ts', N'http://twitter.com', N'https://www.youtube.com/c/AnexsoftVideos?sub_confirmation=1', N'yo.jpg')
GO
INSERT [dbo].[Usuario] ([id], [Nombre], [Apellido], [Email], [Password], [Direccion], [Ciudad], [Pais_id], [Telefono], [Facebook], [Twitter], [YouTube], [Foto]) VALUES (5, N'Miguel', N'Gustamante', N'egustamante@hotmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'Av Picairn 2015 - Ipcairn', N'Pitcaim', 174, N'123123123', NULL, NULL, NULL, N'20150818064259.jpg')
GO
INSERT [dbo].[Usuario] ([id], [Nombre], [Apellido], [Email], [Password], [Direccion], [Ciudad], [Pais_id], [Telefono], [Facebook], [Twitter], [YouTube], [Foto]) VALUES (6, N'Admin', N'SuperAdmin', N'mauricio.zambrana.g@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'Calle Principal dos y tres.', N'Managua', 157, N'123456', NULL, NULL, NULL, N'20171010163353.png')
GO
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Experiencia]  WITH CHECK ADD  CONSTRAINT [FK_Experiencia_Usuario] FOREIGN KEY([Usuario_id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Experiencia] CHECK CONSTRAINT [FK_Experiencia_Usuario]
GO
ALTER TABLE [dbo].[Habilidad]  WITH CHECK ADD  CONSTRAINT [FK_Habilidad_Usuario] FOREIGN KEY([Usuario_id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Habilidad] CHECK CONSTRAINT [FK_Habilidad_Usuario]
GO
ALTER TABLE [dbo].[Testimonio]  WITH CHECK ADD  CONSTRAINT [FK_Testimonio_Usuario] FOREIGN KEY([Usuario_id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Testimonio] CHECK CONSTRAINT [FK_Testimonio_Usuario]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 Trabajo 2 Estudios' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Experiencia', @level2type=N'COLUMN',@level2name=N'Tipo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hasta el 10' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Habilidad', @level2type=N'COLUMN',@level2name=N'Dominio'
GO
USE [master]
GO
